.Background{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: red;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    z-index: 1;
}

.choose{
    width: 162px;
    padding-left: 109px;
}

.audioFile{
    font-size: 15px;
    width: 480px;
    height: 50px;
    display: flex;
}

.Loader1 {
    width: 100%;
    height: 585px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-Body{
    color: white;
    width: 30rem;
    height: 35rem;
    background-color: #1F1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
    -moz-box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
    box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
    
}

.file{
    padding-left: 62px;
    font-size: 15px;          
}

.nameOfMusic{
    background-color: transparent;
    border: 1px solid #EE3240;
    height: 40px;
    border-radius: 20px;
    color: white;
}

.checkBox{
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.Button{
    width: 263px;
    height: 40px;
    background-color: red;
    border: 3px solid red;
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
    border-radius: 35px;
}

