* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.audio_carousel_container::-webkit-scrollbar {
    width: 0rem;     
    height: 2px;          /* width of the entire scrollbar */
  }
  
.audio_carousel_container::-webkit-scrollbar-track {
    background: transparent;      /* color of the tracking area */
  }
  
.audio_carousel_container::-webkit-scrollbar-thumb {
    background-color: #EE3240;    /* color of the scroll thumb */
    border-radius: 2px;  
    height: 2px;     /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }

.home{
    font-family: 'Poppins';
    background-color: #121212;
    color: white;
    width: 100%;
    min-height: calc(100dvh - 90px);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    
}

.inner-div{
    width: 65rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 5rem;
    
}

.audioContainer{
    max-width: 100vw;
    width: 100%;
    height: 11rem;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.audio_carousel_container{
    max-width: 100%;
    height: 14rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: fillunset;
    white-space: nowrap; 
}

.single_audio_image_icon{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.single_audio_container{
    /* height: 11rem; */
    min-width: 10rem;
    max-width: 10rem; /* Adjusted width */
    margin-right: 1rem; /* Adjusted margin */
    display: inline-block; /* Display inline to prevent wrapping */
    position: relative;
    transition: all 0.2s ease-in-out;
}

.single_audio_h4{
    width: 6rem;
    white-space: nowrap;         /* Prevent text from wrapping */
    overflow: hidden;           /* Hide overflowing text */
    text-overflow: ellipsis;
}

.single_audio_p{
    font-size: 10px;
    width: 6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(143, 137, 137);
}

.single_audio_container_on_hover{
    position: absolute;
    max-width: 6rem;
    height: 11rem;
    white-space: nowrap;         /* Prevent text from wrapping */
    overflow: hidden;           /* Hide overflowing text */
    text-overflow: ellipsis;
    top: 10rem;
    opacity: 0;
    display: none;
    transition: all 0.3s ease-in-out;
}

.single_audio_container:hover{
    scale: 1.2;
    overflow: hidden;
}

.single_audio_container:hover .single_audio_image{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.single_audio_container:hover .single_audio_container_on_hover{
    margin-left: 1rem;
    opacity: 1;
    top: 7rem;
    display: block;
    font-size: 12px;
}

.small_heading{
    margin-top: 1rem;
    font-size: 16px;
    margin-left: -58rem;
    margin-bottom: 0.6rem;
    border-radius: 1rem;
}

/* .single_audio_image{
    height: 100%;
    width: auto;
} */

/* .single_audio_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.single_audio_container img{
    all:unset;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.audio{
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    z-index: 1;
    background-color: #1F1E1E;
    border-radius: 1rem;
}

.audio-left{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image{
    margin-left: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image img{
    object-fit: fill;
}

.audio-contents{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.audio-contents p{
    font-size: 12px;
    width: 10rem;
}

.audio audio {
    background-color: #121212;
    width: 30rem;
}

/* .skeleton-loading{
    width: 100% !important;
    height: 9rem !important;
} */

.audio p{
    max-width: 3rem;
}

.favorite.notClicked{
    color: white !important;
    transition: all 0.3s ease-in;
}

.favorite.clicked{
    color: red;
    animation: heartBeat 1s infinite linear;
    animation-timing-function: steps(10);
}

@keyframes heartBeat {
    0%{
        scale: 1.3;
    }
    85% {
        scale: 1;
    }
}

@media (max-width: 768px) {

    .home{
        min-height: calc(100dvh - 70px);
    }

    .small_heading{
        margin-left: -17rem;
    }

    .image{
        margin-left: 0rem;
    }

    .audio{
        border-radius: 0rem;
        margin-top: 0rem;
    }

    .inner-div{
        padding-top: 2rem;
        width: 100%;
        padding-bottom: 4rem;
    }

    .home{
        flex-direction: column;
        justify-content: flex-start;
    }

    .audio audio{
        width: 18rem;
    }

}
