.home{
    font-family: 'Poppins';
    background-color: #121212;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    
}

.inner-div{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.audio{
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    z-index: 1;
    background-color: #1F1E1E;
    border-radius: 1rem;
}

.audio audio {
    width: 30rem;
}

.audio p{
    max-width: 3rem;
}

.favorite.notClicked{
    color: white !important;
    transition: all 0.3s ease-in;
}

.favorite.clicked{
    color: red !important;
}

/* .image{
    width: 100%;
    height: 585px;
    background-color: white;
    color: black;    
} */

/* still no change btw home page il thanne aano nokkiye.. */