.mainBody{
    width: 100%;
    min-height: calc(100dvh - 90px);
    height: auto;
    background: #121212 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    flex-direction: column;  
}

.smallBody{
    margin-top: 5rem;
    width: 25rem;
    height: 30rem;    
    background: #1F1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
-moz-box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);

}

.Heading{
    margin-bottom: 1rem;
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.smallBody input {
    width: 15rem;
    height: 2.8rem;
    padding-left: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid #EE3240;
    border-radius: 1rem;
}

.google-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    color: black;
    font-weight: 700;
    padding-right: 1.5rem;
    transition: all 0.3s ease-in;
}

.google-btn{
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2rem;
}

.google img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.normal-btn{
    background: #EE3240;
    width: 15rem;
    height: 2.8rem;
    border: none;
    margin-top: 1rem;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 1rem;
    transition: all 0.3s ease-in;
}

.normal-btn:hover{
    -webkit-box-shadow: 0px 0px 55px -8px rgba(238,50,64,1);
-moz-box-shadow: 0px 0px 55px -8px rgba(238,50,64,1);
box-shadow: 0px 0px 55px -8px rgba(238,50,64,1);
}

.smallBody button{
    width: 15rem;
    height: 2.8rem;
    border: none;
    margin-top: 1rem;
    font-weight: 700 !important;
    border-radius: 1rem;
}

.smallBody button:active{
    transform: scale(0.96);
}

input:focus{
    outline: none;
}

.botton-grp{
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.toastContainer{
    z-index: 9999999;
}

@media (max-width: 767px) {

    .mainBody{
        height: calc(100vh - 70px);
    }

    .google{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding-bottom: 10px;
    }

    .google img{
        z-index: 1;
    }
}