.menubar{
    width: 166px;
    height: 100vh;
    background-color: #2A2A2A;
    display: none;  
    color: white; 
    z-index: 9999; 
}

.unordered{
    width: 225px;
    height: 585px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9999;  
}

.link{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    display: flex;
}

.icon{
    color: white !important;
}

.content{
    margin-top: -6rem;
    width: 225px;
    height: 4rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    transition: all 0.3s ease-in;
}

.content1{
    margin-top: -3rem;
    width: 225px;
    height: 4rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    transition: all 0.3s ease-in;

}

.content1 p{
    margin-left: 1rem;
}

.content1:hover{
    background-color: #EE3240;
    border-radius: 1rem;
    color: white;
}

.content:hover {
    background-color: #EE3240;
    border-radius: 1rem;
    color: white;
}

.content p{
    margin-left: 1rem;
}


