.NavBar{ 
    position: relative;
    height: 90px;
    width: 100%;
    background-color: #1F1E1E;
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    padding-right: 3rem;
    -webkit-box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
    -moz-box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
    box-shadow: 0px 0px 55px -8px rgba(31,30,30,1);
}


.first-portion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.logo{
    z-index: 99999;
}

.menu{
    color: white;  
    padding-left: 45px; 
    z-index: 9999;
    padding-left: 0px;
    z-index: 999999;
}

.unordered-list{
    width: 250px;
    height: 80px;
    color: white;
    font-size: 16px;
    list-style: none;
    display: flex;  
    justify-content: space-around;      
    align-items: center;
}

.list{
    all: unset;
    outline: none;
}

.sidebar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #1F1E1E;
    transition: left 0.3s ease-in-out;
    z-index: 99;
  }
  
  .sidebar.open {
    left: 0;    
    width: 225px;
  }

/* .favorite.notClicked{
    color: white !important;
}

.favorite.clicked{
    color: red !important;
} */

img{
    width: 5rem;
    height: 2.5rem;
    padding-left: 30px;
    color: white;  
    padding-right: 1rem; 
    z-index: 9999; 
}

.profile-picture{
    width: 2rem;
    height: 2rem;
    background-color: white;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.melody-mix{
    color: white !important;
    font-size: 18px;
    padding-left: 3px;
    font-family: 'Poppins', sans-serif;  
    z-index: 9999; 
}

.searchBar{
    width: 22rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-Bar{
    padding-left: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: #121212;
    color: white;
}

input:placeholder-shown{
    color: white;
    padding-left: 1rem;
}

.searchicon{
    margin-left: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: #121212;
    color: white !important;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.searchicon:hover{
    background-color: #EE3240;
}

.content p{
    color: white;
}

.bottomNav-container{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 999999;
}

.custom-css-class{
    display: none;
    position: fixed;
    margin-bottom: -1.2rem;
    width: 100%;
    height: 90px;
    z-index: 999999;
}

.bottomNav{
    margin-top: -1.5rem ;
    position: sticky;
    width: 100%;
    height: 70px;
    background-color: #1F1E1E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.bottomMusic-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
}

.bottomNav span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    transition: all 0.3s ease-in-out;
}

.bottom-icon{
    width: 100%;
    height: 100%;
}

.bottomNav span:hover{
    color: #EE3240;
    transform: translateY(-4px);
}

.profile-picture{
    width: 3rem;
    height: 3rem;    
    border-radius: 50%;  
    background-color: red;      
}

@media (max-width: 768px){

    .NavBar{
        height: 70px;
    }

    .first-portion{
        margin-left: -3rem;
    }

    .searchBar{
        margin-right: -2rem;
    }

    .search-Bar{
        height: 2.5rem;
    }

    .searchicon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
    }

    .bottomNav-container{
        display: block;
    }

    .unordered-list{
        display: none;
    }

    .menu{
        display: none;
    }

    .logo{
        width: 65px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center; 
        z-index: 99999;    
    }

    .melody-mix{
        width: 90px;
        font-size: 14px;
    }

    .searchBar{
        width: 205px;
    }

    .search-Bar{
        width: 150px;  
    }

    img{
        width: 50px;
        height: 45px;
        padding-top: 8px;
        padding-left: 3px;
    }

    .menu{
        padding-top: 47px;
    }

    .bottomMusic-container{
        display: none;
    }
}