.playlist{
    font-family: 'Poppins';
    background-color: #121212;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.audio{
    transition: all 0.2s ease-in;
}

.audio audio{
    border-radius: 1rem;
}

.audio:hover{
    background-color: #EE3240;
    color: white !important;
    -webkit-box-shadow: 0px 0px 55px -8px rgba(238,50,64,1);
    -moz-box-shadow: 0px 0px 55px -8px rgba(238,50,64,1);
    box-shadow: 0px 0px 55px -8px rgba(238,50,64,1);
}

.audio:hover .favorite.clicked {
    color: white;
  }

@media (max-width: 768px){
    .playlist{
        flex-direction: column;
        justify-content: flex-start;
    }
}

  